<a href="/attack">Attack</a>

<h1>Let's Play</h1>

<%= @player_1.name %> vs. <%= @player_2.name %>
<br><br>
<%= @player_1.name %>: <%= @player_1.hit_points %> Points
<br>
<%= @player_2.name %>: <%= @player_2.hit_points %> Points
<br><br>

<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>